@model Doctor
@{
    ViewData["Title"] = "Index";
    ViewData["DoctorsActive"] = "active";
}

    <h3><a asp-action="Details" asp-route-id="@Model.LicenseNumber">@Model.Name</a> is Registered.</h3>

<a asp-action="Index" asp-controller="Home">Go Back to Home</a>