@model Doctor
@{
    ViewData["Title"] = "Doctors";
    ViewData["DoctorsActive"] = "active";
}

<h3>Doctor was added.</h3>

<table class="table">
    <thead>
    <tr>
        <th scope="col">License Number</th>
        <th scope="col">Birthday</th>
        <th scope="col">Specialty</th>
        <th scope="col">Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">@Model.LicenseNumber</th>
        <td>@Model.Birthday.Day/@Model.Birthday.Month/@Model.Birthday.Year</td>
        <td>@Model.Specialty</td>
        <td>@Model.Contact</td>
    </tr>
    </tbody>
</table>

<a asp-action="Create" asp-controller="Doctor">Add another one.</a>
<br/>
<a asp-action="Index" asp-controller="Doctor">List of Doctors</a>

