@{
    ViewData["Title"] = "Home";
    ViewData["HomeActive"] = "active";ViewData["HomeActive"] = "active";
}

    <div class="container" id="menu">
        <a asp-action="OwnerRegistered" asp-controller="Pet">
            <div class="card d-inline-flex">
                <img class="img-fluid" src="images/AddNewPet.png" alt="AddNewPet" />
            </div>
        </a>

        <a asp-action="Create" asp-controller="Appointment">
            <div class="card d-inline-flex">
                <img class="img-fluid" src="images/AddAnAppointment.png" alt="AddNewAppointment" />
            </div>
        </a>

        <a asp-action="Create" asp-controller="Doctor">
            <div class="card d-inline-flex">
                <img class="img-fluid" src="images/AddNewDoctor.png" alt="AddNewDoctor" />
            </div>
        </a>
    </div>