@{
    ViewData["Title"] = "Home";
    ViewData["HomeActive"] = "active";ViewData["HomeActive"] = "active";
}

<a asp-action="Index" asp-controller="NewEntries">
    <div class="card d-inline-flex">
        <img src="images/AddNewPet.png" />
    </div>
</a>

<a asp-action="AddAppointment" asp-controller="NewEntries">
    <div class="card d-inline-flex">
        <img src="images/AddAnAppointment.png" />
    </div>
</a>

<a asp-action="AddDoctor" asp-controller="NewEntries">
    <div class="card d-inline-flex">
        <img src="images/AddNewDoctor.png" />
    </div>
</a>