@model Pet
@{
    ViewData["Title"] = "Pets";
    ViewData["PetsActive"] = "active";
}

<h3><a asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a> was updated.</h3>


<a asp-action="Index" asp-controller="Home">Go Back to Home</a>