@model VetApp.ViewModel.CreateUpdatePetViewModel
@{
    ViewData["Title"] = "Pets";
    ViewData["PetsActive"] = "active";
}
<h3 class="text-center">Edit Pet.</h3>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Pet.Id"/>
    <div class="form-group">
        <label asp-for="Pet.Name">Name:</label>
        <input asp-for="Pet.Name" class="form-control"/>
        <div asp-validation-for="Pet.Name" class="text-danger"></div>

    </div>
    
    <div class="form-group">
        <label asp-for="Pet.Birthday">Birthday:</label>
        <input asp-for="Pet.Birthday" type="date" class="form-control"/>
        <div asp-validation-for="Pet.Birthday" class="text-danger"></div>
    </div>

    <span asp-validation-for="Pet.PetType" class="text-danger"></span>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Pet.PetType" value="1">
            <label class="form-check-label" asp-for="Pet.PetType">
                Dog
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Pet.PetType" value="2">
            <label class="form-check-label" asp-for="Pet.PetType">
                Cat
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Pet.PetType" value="3">
            <label class="form-check-label" asp-for="Pet.PetType">
                Bird
            </label>
        </div>
    </div>

    <div class="form-group">
        <select asp-for="Pet.OwnerId">
            <option>Select his Owner</option>
            @foreach (var owner in Model.Owners)
            {
                <option value="@owner.Id">@owner.Id - @owner.Name </option>
            }
        </select>
        <div asp-validation-for="@Model.Pet.OwnerId" class="text-danger"></div>
    </div>

    <button type="submit" class="btn btn-outline-secondary">Edit Pet</button>
</form>