@model Appointment
@{
    ViewData["Title"] = "Appointments";
    ViewData["AppointmentsActive"] = "active";
}

    <h3><a asp-action="Details" asp-route-id="@Model.Id">@Model.Id</a> was booked.</h3>

<a asp-action="Index" asp-controller="Home">Go Back to Home</a>